{% extends 'contas/main.html' %}

{% block title %}400. Requisição imprópria{% endblock title %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="container">

        <h1>400</h1>
        <h2>Requisição imprópria</h2>
        <div class="desktop-6">
            <p>A requisição enviada não pode ser atendida.</p>
        </div>
    </div>
</section>
{% endblock content %}