{% extends 'contas/main.html' %}

{% block title %}403. Proibido{% endblock title %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="container">

        <h1>403</h1>
        <h2>Proibido</h2>
        <div class="desktop-6">
            <p>Você não tem permissão para acessar este endereço.</p>
        </div>
    </div>
</section>
{% endblock content %}