{% extends 'contas/main.html' %}

{% block title %}500. Erro interno inesperado{% endblock title %}

{% block content %}
<!-- OVERVIEW -->
<section>
    <div class="container">

        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <div class="desktop-6">
            <p>Desculpe. Ocorreu um erro inesperado.</p>
        </div>
    </div>
</section>
{% endblock content %}