{% load static %}

<head>
  <meta charset="UTF-8">
  <title>Gerenciamento do Questionário da Lei Geral de Proteção de Dados</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/CSS_Adicional_PortalServidor.css' %}">
  <link rel="stylesheet" href="{% static 'css/etcmfonts.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles__ltr.css' %}">
  <script src="https://www.google.com/recaptcha/api.js?render=6LcmBNQZAAAAAC-1xxTSulDhU6Evy9VHNLUuwuA-"></script>
</head>

<body class="ajuste-por-causa-de-navbar-fixed-top">
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/tcmrj.png' %}" width="150" class="imgTCMRJ img-fluid" />
        <span id="DesapareceMobile">
          Gerenciamento do Questionário da Lei Geral de Proteção de Dados
        </span>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>


  </div>

     <div>

</div>
</body>
