{% extends 'main.html' %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card card-body">
        <h3>Confirma a exclusão da categoria?</h3>
        <p>{{ categoria }}</p>
        <br>
        <form action="{% url 'contas:apagar_categoria' categoria.id %}" method="POST">
          {% csrf_token %}
          <a class="btn btn-danger" href="{% url 'contas:categorias' %}">Cancelar</a>
          <input type="submit" class="btn btn-primary" value="Confirmar">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
