{% extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="'row">
  <div class="col-md-6">
    <div class="card card-body">
      <h1>Confirma a exclusão da Atribuição?</h1>
      <p><b>Questão:</b> {{ questao_organization_unit.questao }}</p>
      <p><b>Órgão:</b> {{ questao_organization_unit.organization_unit.description }}</p>
  <form action="{% url 'contas:apagar_atribuicao' questao_organization_unit.id %}" method="POST">
    {% csrf_token %}
    <a class="btn btn-warning" href="{% url 'contas:form_atribuicao' questao_organization_unit.questao_id %}">Cancelar</a>
    <input class="btn btn-danger" type="submit" name="Confirmar">
  </form>
    </div>
  </div>
</div>
{% endblock %}
