{% extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="'row">
  <div class="col-md-6">
    <div class="card card-body">
      <h1>Confirma a exclusão do {{ item_resposta }} ?</h1>
  <form action="{% url 'contas:apagar_resposta' item_resposta.id %}" method="POST">
    {% csrf_token %}
    <a class="btn btn-warning" href="{% url 'contas:resposta' %}">Cancelar</a>
    <input class="btn btn-danger" type="submit" name="Confirmar">
  </form>
    </div>
  </div>
</div>
{% endblock %}
