{% extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<div class="'row">
  <div class="col-md-6">
    <div class="card card-body">
      <h1>Confirma a exclusão do {{ item_questao }} ?</h1>
      <form action="{% url 'contas:apagar_questao' item_questao.id %}" method="POST">
        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'contas:questoes' %}">Cancelar</a>
        <input class="btn btn-danger" type="submit" name="Confirmar">
      </form>
    </div>
  </div>
</div>
{% endblock %}
