{% extends 'main.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <form action="." method="GET" class="form-inline">
          <input type="text" id="search" name="search" class='form-control' placeholder="Busca">
          <input type="submit" class="btn btn-primary" style="margin-left:10px" value="Buscar em assuntos">
          <a href="." class="btn btn-link">Limpar</a>
        </form>
    </div>
  </div>
  <br>
  <table class="table table-sm">
    <tr>
      <th>Assuntos</th>
        <th> </th>
        <th> </th>
        <th>
          <a href="{% url 'contas:criar_assunto' %}">
          <span>
            <i class="fas fa-plus" style="color: green"></i>
          </span>
        </th>
    </tr>
    <tbody>
      {% for assunto in assuntos %}
        <tr>
          <td>{{ assunto.assunto }}</td>
          <td></td>
          <td>
            <a href="{% url 'contas:apagar_assunto' assunto.id %}">
            <span>
              <i class="fas fa-trash" style="color: red"></i>
            </span>
          </td>
          <td>
            <a href="{% url 'contas:editar_assunto' assunto.id %}">
            <span>
              <i class="fas fa-edit" style="color: blue"></i>
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

