{% extends 'main.html' %}
{% block content %}

<div class="row">

</div>

<div class="container">
      <table class="table table-sm">
        <tr>
          <th>Atribuições de Questões</th>
            <th> </th>
            <th> </th>
            <th>
                <a href="{% url 'contas:form_atribuicao' %}">
				<span>
					<i class="fas fa-plus" style="color: green"></i>
				</span>
                </th>
        </tr>
        <tbody>
          {% for assunto in assuntos %}
            <tr>
              <td>{{ assunto.assunto }}</td>
                <td>
                </td>
                <td>
                    <a href="{% url 'contas:apagar_assunto' assunto.id %}">
				<span>
					<i class="fas fa-trash" style="color: red"></i>
				</span>
     			</td>
                <td>
                    <a href="{% url 'contas:editar_assunto' assunto.id %}">
				<span>
					<i class="fas fa-edit" style="color: blue"></i>
				</span>
			    </td>
                </tr>
                {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}

