{% extends 'main.html' %}
{% load static %}

{% block content %}

<h3>Editar Questão</h3>

<form method="POST" action="">
  {% csrf_token %}
  {{ form_quest_editado }}
 <a class="btn btn-warning" href="{% url 'contas:questoes' %}">Cancelar</a>
    <input class="btn btn-danger" type="submit" name="Confirmar">

</form>

{% endblock %}

