{% extends 'main.html' %}
{% load static %}

{% block content %}

<h3>Editar Resposta</h3>

<form method="POST" action="">
  {% csrf_token %}
  {{ form_resp_editado }}
    <input class="btn btn-danger" type="submit" name="Confirmar">

</form>

{% endblock %}

