{% extends 'main.html' %}
{% load static %}

{% block content %}

<h3>Atribuir Questão aos Órgãos</h3>
<p>Questão: {{ questao }}</p>

<form method="POST" action="">
  {% csrf_token %}
  {{ form_atribuicao }}
 <a class="btn btn-warning" href="{% url 'contas:questoes' %}">Cancelar</a>
    <input class="btn btn-danger" type="submit" name="Confirmar">

</form>
<br><br><br><br>
<div class="container">
    <div class="col-6">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Órgãos</th>
                    <th>Ano Pesquisa</th>
                    <th>Data Criação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% if organization_units_questao %}
                    {% for organization_unit in organization_units_questao %}
                    <tr>
                        <td>{{ organization_unit.organization_unit.id }}</td>
                        <td>{{ organization_unit.organization_unit.description }}</td>
                        <td>{{ organization_unit.ano_pesquisa }}</td>
                        <td>{{ organization_unit.data_criacao}}</td>
                        <td>
                            <a href="{% url 'contas:apagar_atribuicao' organization_unit.id %}">
                                <span>
                                    <i class="fas fa-trash" style="color: red"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
