{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      {% if form.categoria.id  %}
        <h3>Editar Categoria</h3>
      {% else %}
        <h3>Criar Categoria</h3>
      {% endif %}
      <form method="POST" action=".">
        {% csrf_token %}
        {% if form.errors or form.categoria.errors %}
          <div class="container">
            <div class="row" id="PainelDeMensagensDeErros">
              <div data-val-headertext="Erro(s):" id="ctl06" class="validation-summary-errors" data-valmsg-summary="true" data-valsummary="true">
                  {{form.non_field_errors}}
                  {{form.categoria.errors}}
              </div>
            </div>
          </div>
        {% endif %}
        <div class="form-group">
          {{ form.categoria.label_tag }}
          {{ form.categoria }}
        </div>
        <br>
        <a class="btn btn-danger" href="{% url 'contas:categorias' %}">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Salvar">
      </form>
    </div>
  </div>
</div>
{% endblock %}