{% extends 'main.html' %}
{% load static %}

{% block content %}

<h3>Adicionar Questão</h3>

<form method="POST" action="">
  {% csrf_token %}
  {{ form_questao }}
  <input type="submit" value="enviar">

</form>

{% endblock %}