{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h3>Adicionar Resposta</h3>
      <br>
      <p><b>Questão: </b>{{questao.questao}}</p>

      <form method="POST" action=".">
        {% csrf_token %}
        {% if form.errors or form.resposta.errors or form.comentario.errors %}
          <div class="container">
            <div class="row" id="PainelDeMensagensDeErros">
              <div data-val-headertext="Erro(s):" id="ctl06" class="validation-summary-errors" data-valmsg-summary="true" data-valsummary="true">
                  {{form.non_field_errors}}
                  {{form.resposta.errors}}
                  {{form.comentario.errors}}
                  {{form.revisado.errors}}
              </div>
            </div>
          </div>
        {% endif %}
        <div class="form-group">

          {{ form.resposta.label_tag }}
          {{ form.resposta }}

          {{ form.comentario.label_tag }}
          {{ form.comentario }}

        </div>
        <div class="form-check">

          {{ form.revisado }}
          <label class="form-check-label" for="revisado">Revisado</label>

        </div>
        {{ form.questao }}
        <br>
        <input type="submit" class="btn btn-primary" value="enviar">

      </form>
    </div>
  </div>
</div>

{% endblock %}
