{% extends 'main.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-6">
        <form action="." method="GET" class="form-inline">
        <input type="text" id="search" name="search" class='form-control' placeholder="Busca">
        <input type="submit" class="btn btn-primary" style="margin-left:10px" value="Buscar em questões">
        <a href="." class="btn btn-link">Limpar</a>
        </form>

    </div>
</div>


<p>{{ user.groups.all.0.name }}</p>

<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Assunto</th>
                <th>Questões</th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <a href="{% url 'contas:form_questao' %}">
                    <span>
                        <i class="fas fa-plus" style="color: green"></i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
          {% for questao in questoes %}
            <tr>
                <td>{{questao.assunto.assunto}}</td>
                <td>{{ questao.questao }}</td>
                <td>
                    <a href="{% url 'contas:apagar_questao' questao.id %}">
                        <span>
                            <i class="fas fa-trash" style="color: red"></i>
                        </span>
                    </a>
     			</td>
                <td>
                    <a href="{% url 'contas:editar_questao' questao.id %}">
                        <span>
                            <i class="fas fa-edit" style="color: blue"></i>
                        </span>
                    </a>
			    </td>
                <td>
                    <a href="{% url 'contas:form_atribuicao' questao.id %}" class="btn btn-primary" role="button" style="font-size: .7rem;">
                        Associar Órgãos
                        
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

