{% extends 'main.html' %}

{% block content %}


<div>
  <form method="GET" class="form-inline">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">OK</button>
    <div class="form-group">
      <a href="." class="btn btn-link">Limpar</a>
    </div>


  </form>
  <div class="col">
    <hr>
    <table class="table table-sm">
      <thead>
        <tr>
               <th>Questão</th>
          <th>Resposta</th>
                 <th>Editar Resposta</th>
        </tr>
      </thead>
      <tbody>
        {% for resposta in filter.qs %}
        <tr>
                   <td>{{ resposta.questao }}</td>
          <td>{{ resposta.resposta }}</td>
 <td><a href="{% url 'contas:editar_resposta' resposta.id %}"><span>
					<i class="fas fa-edit" style="color: blue"></i>
				</span></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

