<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<div>
    <head>
  <title>Questionário LGPD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            {% block css %}{% endblock css %}
</head>
<body>

<div class="container">
  <h2>Questionário</h2>
  <p>Conteúdo completo do questionário. Filtre por órgão, assunto ou questão.</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
      <th>Assunto</th>
          <th>Órgão</th>
          <th>Questão</th>
          <th>Resposta</th>
          <th>Comentário</th>
          <th>Revisado</th>
          <th>Editar Comentário</th>
           <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tbody>
        {% for resposta in filter.qs %}
        <tr>
          <td>{{ resposta.questao.assunto }}</td>
          <td>{{ resposta.organization_unit }}</td>
          <td>{{ resposta.questao }}</td>
          <td>{{ resposta.resposta }}</td>
          <td>{{ resposta.comentario }}</td>
          <td>
            {% if resposta.revisado %}
      </tr>
    </tbody>
  </table>

