/* http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site */
.ajuste-por-causa-de-navbar-fixed-top {
    padding-top: 60px;
}

.breadcrumb > span > span > li {
    display: inline-block;
}

.btn-sm-numeroProcesso {
    border-radius: 1px;
    font-size: 12px;
    line-height: 1.0;
    padding: 5px 10px;
    padding: 0 8px 4px 8px;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    display: block;
}

/* --------------------------------- */

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.nopadding-left {
    padding-left: 0;
}

.nopadding-right {
    padding-right: 0;
}

.chkPrecisaDeAssinatura input[type='checkbox'] {
    margin-left: 0;
}

.canvas-pdfjs {
    padding: 15px;
    width: 100%;
    height: auto;
}

.pecas > tbody > tr > td {
    vertical-align: middle;
}

.radioButtonList label {
    padding-left: 4px;
}

.radioButtonList input[type="radio"]:not(:first-child) {
    margin-left: 15px;
}

.label-entre-campos {
    height: 34px;
    line-height: 34px;
    text-align: center;
}

    .label-entre-campos > span {
        font-size: 18px;
        font-weight: bold;
        vertical-align: middle;
    }

.pagination-ys {
    border-radius: 4px;
    margin: 20px 0;
    /*display: inline-block;*/
    padding-left: 0;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            color: #1480dd;
            float: left;
            line-height: 1.42857143;
            margin-left: -1px;
            padding: 8px 12px;
            position: relative;
            text-decoration: none;
        }

        .pagination-ys table > tbody > tr > td > span {
            background-color: #f5f5f5;
            border-color: #dddddd;
            color: #aea79f;
            cursor: default;
            float: left;
            line-height: 1.42857143;
            margin-left: -1px;
            padding: 8px 12px;
            position: relative;
            text-decoration: none;
            z-index: 2;
        }

.imagemCertificado {
    display: block;
    width: 127px;
    height: 56px;
    text-indent: -9000px;
    margin: 0 auto;
    overflow: hidden;
}

.imagemCadeado {
    float: left;
    margin-right: 10px;
    padding-bottom: 20px;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    body {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    @page {
        margin: 0.5cm;
    }

    nav, footer, video, audio, object, embed {
        display: none;
    }

    .hidden-print {
        display: none;
    }
}

/*Mudança do estilo do bootstrap.css para mudança do nome no inbox do upload de peças*/
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Escolher arquivo";
}

.custom-file-label::after {
    content: "Escolher arquivo";
}


/*Ajustes em cores de tabelas - Folha de Ponto*/
.table-light thead th {
    border-bottom: 2px solid #14799d;
}

    .table-light thead th label {
        margin-bottom: 0rem;
    }

.table-light td {
    /*border-bottom: 1px solid #dee2e6;*/
}

.table-light a {
    text-decoration: underline;
}

.table-thead-ponto {
    background-color: #14799d;
    color: white;
}

/*Muda a cor do botão success quando está desabilitado*/
.btn-success.disabled, .btn-success:disabled {
    color: #505050;
    background-color: #d1d8d3;
    border-color: #e0dbdb;
}


.bg-grey {
    background-color: #f7f6f1;
}
/* ------------------------------------------------------------------------ */
/* NAVBAR */
/* ------------------------------------------------------------------------ */
.navbar {
    margin: 0px;
    background-color: #161617;
}
.navbar-custom {
    background: rgba(0, 0, 0, 0.16);
    border: none;
    margin-bottom: -10em;
}
.navbar .navbar-brand {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: color ease-in-out .2s;
    transition: color ease-in-out .2s;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 1.2em;
}

/* ------------------------------------------------------------------------ */
/* Botões Menu e Sessões */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* Banner com imagem da página principal e Título do Portal(Jumbotron) */
/* ------------------------------------------------------------------------ */
.jumbotron {
    background-image: url(../Images/headertcmrj.png);
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 33em;
    color: white;
    padding: 0em 25px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.jumbotronNoticia {
    background-image: url(../Images/headertcmrjInterna.png);
    background-size: cover;
    width: 100%;
    height: 10em;
    color: #fff;
    padding: 0em 25px;
    margin-bottom: 0px;
}

.jumbotron h2 {
    font-size: 3.8em;
    font-family: 'Lato Bold', sans-serif;
    padding-top: 3.9em;
}



/* ------------------------------------------------------------------------ */
/* Configurações Gerais */
/* ------------------------------------------------------------------------ */
.cliqueaqui {
    color: #089dd1;
    margin-top: 0.7em;
    font-family: 'Lato Bold', sans-serif;
}

.tit_modulos {
    color: #083050;
    padding-bottom: 0.5em;
    font-family: 'Lato', sans-serif;
    font-size: 2.2em;
}

.tit_noticia {
    color: rgba(14, 61, 92, 1);
    /*padding-bottom: 0.5em;*/
    padding-top: 1em;
    font-family: 'Lato', sans-serif;
}

.tit_noticiaCategoria {
    color: rgba(14, 61, 92, 1);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-family: 'Lato', sans-serif;
}

#requerimentos a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1em;
    color: rgba(14, 61, 92, 1);
    font-family: 'Lato Bold', sans-serif;
}
#requerimentos {
    font-family: 'Merriweather', sans-serif;
}
#requerimentos hr {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
    #requerimentos .media {
        min-height: 3em;
    }
#beneficios a {
    text-decoration: none;
    color: inherit;
}
#beneficios h6 {
    font-family: 'Lato Bold', sans-serif;
    color: rgba(14, 61, 92, 1);
    font-size:1.3em;
    margin-bottom:0.3em;
}
#beneficios h7 {
    font-family: 'Merriweather', serif;
}
#beneficios .card-img-top {
    width: 55%;
    height: 55%;
}
#sqvt {
    font-family: 'Merriweather', sans-serif;
}
    #sqvt a {
        text-decoration: none;
        color: inherit;
        font-size: 1.1em;
        color: rgba(14, 61, 92, 1);
        font-family: 'Lato Bold', sans-serif;
    }
#sqvt h5 {
    color: #089dd1;
    font-family: 'Lato Bold', sans-serif;
}
#sqvt p {
    color: rgba(14, 61, 92, 1);
    font-family: 'Lato Bold', sans-serif;
    margin-bottom: 0em;
}
#sqvt i {
    color: #089dd1;
}
#sqvt img {
    width: 100%;
    height: 10em;
}

/* ------------------------------------------------------------------------ */
/* Configurações de Estilo na sessão de categoria e notícias */
/* ------------------------------------------------------------------------ */
#noticia a {
    text-decoration: none;
    color: #089dd1;
}
#noticia a:hover {
    text-decoration: underline;
}
#noticia {
    font-family: 'Merriweather', serif;
}
#categoria a {
    text-decoration: none;
    font-family: 'Lato Bold', sans-serif;
    color: #089dd1 !important;
}
    #categoria a:hover {
        font-family: 'Lato Black', sans-serif;
        color: #089dd1 !important;
    }
#categoria img {
    margin-top: auto;
    margin-bottom: auto;
    width: 15em;
    height: auto;
}

/* ------------------------------------------------------------------------ */
/* Configurações de Estilo do Footer */
/* ------------------------------------------------------------------------ */

#footerPortalServidor a {
    color: inherit;
    text-decoration: underline;
}
#footerPortalServidor p {
    margin-bottom: 0.3em;
}
.bg-footer {
    background-color: rgba(14, 61, 92, 1);
    color: white;
}

.AcessoRapido {
    color: #089dd1;
    font-family: 'Lato Bold', sans-serif;
}



/* ------------------------------------------------------------------------ */
/* Configurações de Estilo na Section de serviços*/
/* ------------------------------------------------------------------------ */
#servicos img {
    margin-right:1em !important;
}
#servicos .media {
    min-height:4em;
}
#servicos a {
    text-decoration: none;
    color: inherit;
}
#servicos i {
    color: #089dd1;
}
#servicos .informacoesUteis > hr {
    margin-bottom: 0.9em;
    margin-top: 0.9em;
}
.TituloServicos {
    font-size: 1.1em;
    font-family: 'Lato Bold', sans-serif;
    color: rgba(14, 61, 92, 1);
    margin-bottom: 0.3em;
}

.DescrcaoServicos {
    font-size: 0.95em;
    font-family: 'Merriweather', serif;
    margin-bottom: 0.5em;
}

/* ------------------------------------------------------------------------ */
/* Botão de Retorno ao início da página */
/* ------------------------------------------------------------------------ */
.voltar-ao-topo {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1em;
    display: none;
}

    .voltar-ao-topo:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

/* ------------------------------------------------------------------------ */
/* Configurações Carousel de Notícias do SQVT*/
/* ------------------------------------------------------------------------ */
#carouselNoticiasSQVT a {
    text-decoration: none;
    color:inherit;
}
.carousel-inner {
    width: 90%;
    padding-bottom:5em;
}
.carousel-indicators li {
    /*border-color: rgba(0,150,255,.60);*/
    background-color: #7b7b78
}
    .carousel-indicators li.active {
        background-color: rgba(0,150,255,.60);
    }
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%7b7b78' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%7b7b78' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}
.legendaNoticiaPrincipal .tituloNoticiasSQVT {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0.5em;
}
.legendaNoticiaSecundario .tituloNoticiasSQVT {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 0.3em;
}

.legendaNoticiaPrincipal .ementaNoticiasSQVT {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #b7a467;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.legendaNoticiaSecundario .ementaNoticiasSQVT {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #b7a467;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}
.card {
    border-radius: 0px;
}
.card-title {
    padding: 0px;
}
.card-body {
    padding: 0px;
}
.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-img-overlay {
    position: absolute;
    right: 0%;
    bottom: 0px;
    top: 15%;
    left: 0px;
    z-index: 10;
    padding: 5px 0px;
    padding-top: 25px;
    color: #fff;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85)95%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 95%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85)95%);
}
.legendaNoticiaPrincipal {
    position: absolute;
    bottom: 5px;
    padding: 15px 25px;
}
.legendaNoticiaSecundario {
    position: absolute;
    bottom: 5px;
    padding: 8px 15px;
}

#NoticiasSQVT .cardPrincipal {
    height: 31em;
}

    #NoticiasSQVT .cardPrincipal img {
        height: 31em;
    }
@media only screen and (min-width: 1200px) {
    #NoticiasSQVT .cardPrincipal {
        height: 35em;
    }

        #NoticiasSQVT .cardPrincipal img {
            height: 35em;
        }   
}
@media only screen and (max-width: 980px) {
    #NoticiasSQVT .cardPrincipal {
        height: 27em;
    }

        #NoticiasSQVT .cardPrincipal img {
            height: 27em;
        }
}
#NoticiasSQVT .cardSecundario {
    float: left;
    width: 100%;
    height: 15em;
    overflow: hidden;    
}
    #NoticiasSQVT .cardSecundario img {
        height: 15em;
    }
@media only screen and (min-width: 1200px) {
    #NoticiasSQVT .cardSecundario {
        height: 17em;
    }

        #NoticiasSQVT .cardSecundario img {
            height: 17em;
        }
}
@media only screen and (max-width: 980px) {
    #NoticiasSQVT .cardSecundario {
        height: 13em;
    }

        #NoticiasSQVT .cardSecundario img {
            height: 13em;
        }
}
#NoticiasSQVT .col-8 {
    padding-right: 8px;
}
#NoticiasSQVT .col-4 {
    padding-left: 8px;
}
#NoticiasSQVT .container {
    max-width: 1300px;
}
#noticiasSQVT a {
    text-decoration: none;
}
#NoticiasSQVT h5 {

}

#videosDGP h6 {
    font-family: 'Lato Bold', sans-serif;
    color: rgba(14, 61, 92, 1);
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

/*Mudança do estilo do bootstrap.css para mudança do nome no inbox do upload de peças*/
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Escolher arquivo";
}

.custom-file-label::after {
    content: "Escolher arquivo";
}

html {
    min-height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
}

    body.sticky-footer {
        margin-bottom: 56px;
    }

        body.sticky-footer .content-wrapper {
            min-height: calc(100vh - 56px - 76px);
        }

    body.fixed-nav {
        padding-top: 76px;
    }

.content-wrapper {
    padding-top: 3rem;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

#mainNav .navbar-collapse {
    max-height: 75vh;
    overflow: auto;
}

    #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        cursor: pointer;
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
        content: '\f107';
        float: right;
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900; /* Fix version 5.0.9 */
    }

    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
        content: '\f105';
    }

    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
        padding-left: 0;
    }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            display: block;
            padding: 0.5em 0;
        }

            #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
            #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
                text-decoration: none;
            }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
            padding-left: 1em;
        }

        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
            padding-left: 2em;
        }

    #mainNav .navbar-collapse .sidenav-toggler {
        display: none;
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        border: none;
        content: '\f105';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900; /* Fix version 5.0.9 */
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
        font-size: 10px;
        left: 21px;
        position: absolute;
        top: 5px;
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
        content: '\f107';
    }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
        max-width: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.navbar {
    background-image: url("/static/img/header_interna.jpg");
    background-position: right top;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    padding-bottom: 18px;
    padding-top: 18px;
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        width: 250px;
    }

    #mainNav .navbar-collapse {
        max-height: none;
        overflow: visible;
    }

        #mainNav .navbar-collapse .navbar-sidenav {
            -ms-flex-direction: column;
            -ms-overflow-style: none;
            -webkit-flex-direction: column;
            bottom: 0;
            flex-direction: column;
            left: 0;
            margin-top: 81px;
            overflow-y: auto;
            position: fixed;
            top: 0;
            -ms-overflow-style: scrollbar;
        }

    .scrollhide::-webkit-scrollbar {
        width: 12px;
    }

    .scrollhide::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .scrollhide::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }


    #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        padding: 0;
        width: 250px;
    }

        #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
            padding: 1em;
        }

        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            list-style: none;
            padding-left: 0;
        }

            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
                width: 250px;
            }

                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
                    padding: 1em;
                }

                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
                    padding-left: 2.75em;
                }

                #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
                    padding-left: 3.75em;
                }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
        min-width: 55px;
        padding-left: 1em;
    }

        #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
            min-width: 55px;
            padding-left: 1em;
        }

    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
        max-width: 300px;
    }
}

#mainNav.fixed-top .sidenav-toggler {
    display: none;
}

@media (min-width: 992px) {
    #mainNav.fixed-top .navbar-sidenav { /*height: calc(100vh - 132px);*/
    }

    #mainNav.fixed-top .sidenav-toggler {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        display: flex;
        flex-direction: column;
        left: 0;
        margin-top: calc(100vh - 47px);
        position: absolute;
        top: 0;
    }

        #mainNav.fixed-top .sidenav-toggler > .nav-item {
            padding: 0;
            width: 250px;
        }

            #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
                padding: 1em;
            }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #212529;
}

    #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
        color: #adb5bd;
    }

#mainNav.fixed-top.navbar-light .sidenav-toggler {
    background-color: #dee2e6;
}

    #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
        color: rgba(0, 0, 0, 0.5);
    }

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
    overflow-x: hidden;
    width: 55px;
}

    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
    body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
        width: 55px !important;
    }

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
    -moz-transform: scaleX(-1);
    -ms-filter: 'FlipH';
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    transform: scaleX(-1);
}

#mainNav.static-top .sidenav-toggler {
    display: none;
}

@media (min-width: 992px) {
    #mainNav.static-top .sidenav-toggler {
        display: flex;
    }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
    -moz-transform: scaleX(-1);
    -ms-filter: 'FlipH';
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    transform: scaleX(-1);
}

.content-wrapper {
    background: white;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    .content-wrapper {
        margin-left: 265px;
    }
}

#sidenavToggler i {
    font-weight: 800;
}

.navbar-sidenav-tooltip.show {
    display: none;
}

@media (min-width: 992px) {
    body.sidenav-toggled .content-wrapper {
        margin-left: 55px;
    }
}

body.sidenav-toggled .navbar-sidenav {
    width: 55px;
}

    body.sidenav-toggled .navbar-sidenav .nav-link-text {
        display: none;
    }

    body.sidenav-toggled .navbar-sidenav .nav-item,
    body.sidenav-toggled .navbar-sidenav .nav-link {
        width: 55px !important;
    }

        body.sidenav-toggled .navbar-sidenav .nav-item:after,
        body.sidenav-toggled .navbar-sidenav .nav-link:after {
            display: none;
        }

    body.sidenav-toggled .navbar-sidenav .nav-item {
        white-space: nowrap;
    }

body.sidenav-toggled .navbar-sidenav-tooltip.show {
    display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #adb5bd;
}


#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: #212121;
}

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
        color: #019dd0;
    }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #212121;
}

@media (max-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
        color: #adb5bd !important;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
        color: #adb5bd !important;
    }
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
    color: #019dd0;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: #019dd0;
}

@media (min-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        background: #f1f1f2;
    }

        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
            background-color: #f1f1f2;
            color: white !important;
        }

            #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
                color: white;
            }

        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            background: #f1f1f2;
        }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
        color: rgba(0, 0, 0, 0.7);
    }

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: rgba(0, 0, 0, 0.5);
}

    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
        color: rgba(0, 0, 0, 0.7);
    }

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
        background: #f8f9fa;
    }

        #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
            background-color: #e9ecef;
            color: #000 !important;
        }

            #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
                color: #000;
            }

        #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
            background: #f8f9fa;
        }
}


footer.sticky-footer {
    background-color: #e9ecef;
    bottom: 0;
    height: 56px;
    line-height: 55px;
    position: absolute;
    right: 0;
    width: 100%;
}

@media (min-width: 992px) {
    footer.sticky-footer {
        width: calc(100% - 250px);
    }
}

@media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
        width: calc(100% - 55px);
    }
}


/* Define o que deve "sumir" na versão Mobile*/

@media only screen and (max-width: 950px) {
    #descTCMRJ {
        display: none;
    }

    #DesapareceMobile {
        display: none;
    }
}

/* --------------------------FIM DA NAV----------------------------------------------------------- */



/* ----------------------------- Configurações de algumas fontes -------------------------------- */

.fonteMenuPrincipal {
    color: #019dd0 !important;
    font-size: 1.1em;
    font-weight: 600;
}

.tituloPagina {
    color: #019dd0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

label {
    font-weight: 700;
}

a {
    color: #019dd0;
}

    a:hover {
        color: #027398;
        text-decoration: none;
    }

h7, .h7 {
    font-size: 0.85em;
    font-weight: 600;
}

/* ------------------------------------------------------------------------------------------- */

/* ---------------Configurações para Editar Texto TCMRJ do Menu Lateral----------------- */

/* ------------------------------------------------------------------------------------------- */

.descTCMRJ {
    color: white;
    padding-left: 10px;
}

    .descTCMRJ p {
        margin-bottom: 2px;
        text-align: left;
    }

    .descTCMRJ img {
        padding: 10px;
        padding-top: 30px;
    }

/* ------------------------------------------------------------------------------------------- */

/* ---------------           Configurações Container, Logo e botões          ----------------- */

/* ------------------------------------------------------------------------------------------- */

.container {
    max-width: 100%;
    width: 100%;
}

.btn-primary {
    background-color: #019dd0;
    border-color: #019dd0;
}

.bg-primary {
    background-color: #019dd0 !important;
    border-color: #019dd0;
}

.text-primary {
    color: #019dd0 !important;
}

.text-orgao-mesa {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
}

.bg-grey {
    background-color: #f1f1f2 !important;
}

.imgTCMRJ {
    margin-left: 2em;
    margin-right: 3em;
    padding-top: 0px;
}

@media (max-width: 600px) {
    .imgTCMRJ {
        margin-left: 1em;
        margin-right: 0px;
    }
}

/* ------------------------------------------------------------------------------------------- */

/* ----------------------------- Configurações Gerais do CARD -------------------------------- */

/* ------------------------------------------------------------------------------------------- */

.card-body {
    padding: 1em;
}

.card-header {
    padding: 0.5em;
}

.card-title {
    margin: 0px;
}

#icones .card {
    margin-bottom: 2em;
}

#icones .card-img {
    margin-top: 1em;
    width: 30%;
}

#icones .card-body {
    height: 5em;
    text-align: center;
}

    #icones .card-body a {
        color: inherit;
    }

        #icones .card-body a:hover {
            color: #019dd0;
            text-decoration: none;
        }

.cardAcessoRapido {
    min-height: 10em;
}

.card-manual-credenciamento {
    min-height: 20em;
}

.card-manual-remessas {
    min-height: 20em;
}

@media only screen and (max-width: 1500px) {
    .card-manual-credenciamento {
        min-height: 15em;
    }

    .card-manual-remessas {
        min-height: 15em;
    }
}

@media only screen and (max-width: 1200px) {
    .card-manual-credenciamento {
        min-height: 12em;
    }

    .card-manual-remessas {
        min-height: 12em;
    }
}

.imagemVidelManual {
    width: 100%;
    height: auto;
}

/*Card para ícones da Ficha de Remessa*/

.card-acao-ficha-remessa {
    background-color: #f1f1f2 !important;
    border: none;
    border-radius: 50% !important;
    height: 4em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px;
    width: 4em !important;
}

.icone-acao-ficha-remessa {
    align-items: center;
    padding-top: 0.5em;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------- */

/* ----------------------------- Mesa de Trabalho e Ficha Remessa----------------------------- */

/* ------------------------------------------------------------------------------------------- */

#MesaJurisdicionado a {
    color: inherit;
}

#MesaJurisdicionado h1 {
    font-size: 4em;
}

#MesaTCMRJ a {
    color: inherit;
}

#MesaTCMRJ h1 {
    font-size: 4em;
}

#MesaComum a {
    color: inherit;
}

.AcoesFicha a {
    color: inherit;
}

#ManuaisPortal a {
    color: inherit;
}

.AcoesFicha .btn:hover {
    text-decoration: none;
}

/* Modal dos Vídeos dos Treinamentos*/

@media (max-width: 992px) {
    .modal-dialog {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1100px;
    }
}

/*!
 * Datepicker for Bootstrap v1.8.0 (https://github.com/uxsolutions/bootstrap-datepicker)
 *
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */

.datepicker{padding:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl.dropdown-menu{left:auto}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #999;border-top:0;border-bottom-color:rgba(0,0,0,.2);position:absolute}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;border-top:0;position:absolute}.datepicker-dropdown.datepicker-orient-left:before{left:6px}.datepicker-dropdown.datepicker-orient-left:after{left:7px}.datepicker-dropdown.datepicker-orient-right:before{right:6px}.datepicker-dropdown.datepicker-orient-right:after{right:7px}.datepicker-dropdown.datepicker-orient-bottom:before{top:-7px}.datepicker-dropdown.datepicker-orient-bottom:after{top:-6px}.datepicker-dropdown.datepicker-orient-top:before{bottom:-7px;border-bottom:0;border-top:7px solid #999}.datepicker-dropdown.datepicker-orient-top:after{bottom:-6px;border-bottom:0;border-top:6px solid #fff}.datepicker table{margin:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:none}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td.day.focused,.datepicker table tr td.day:hover{background:#eee;cursor:pointer}.datepicker table tr td.new,.datepicker table tr td.old{color:#999}.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td.highlighted{background:#d9edf7;border-radius:0}.datepicker table tr td.today,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today:hover{background-color:#fde19a;background-image:-moz-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-ms-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a));background-image:-webkit-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:-o-linear-gradient(to bottom,#fdd49a,#fdf59a);background-image:linear-gradient(to bottom,#fdd49a,#fdf59a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);border-color:#fdf59a #fdf59a #fbed50;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#000}.datepicker table tr td.today.active,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled.disabled,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled:hover.disabled,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.disabled:hover:hover,.datepicker table tr td.today.disabled:hover[disabled],.datepicker table tr td.today.disabled[disabled],.datepicker table tr td.today:active,.datepicker table tr td.today:hover,.datepicker table tr td.today:hover.active,.datepicker table tr td.today:hover.disabled,.datepicker table tr td.today:hover:active,.datepicker table tr td.today:hover:hover,.datepicker table tr td.today:hover[disabled],.datepicker table tr td.today[disabled]{background-color:#fdf59a}.datepicker table tr td.today.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today:active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today:hover:active{background-color:#fbf069\9}.datepicker table tr td.today:hover:hover{color:#000}.datepicker table tr td.today.active:hover{color:#fff}.datepicker table tr td.range,.datepicker table tr td.range.disabled,.datepicker table tr td.range.disabled:hover,.datepicker table tr td.range:hover{background:#eee;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled:hover,.datepicker table tr td.range.today:hover{background-color:#f3d17a;background-image:-moz-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-ms-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f3c17a),to(#f3e97a));background-image:-webkit-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:-o-linear-gradient(to bottom,#f3c17a,#f3e97a);background-image:linear-gradient(to bottom,#f3c17a,#f3e97a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);border-color:#f3e97a #f3e97a #edde34;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today.active,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled.disabled,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover,.datepicker table tr td.range.today.disabled:hover.active,.datepicker table tr td.range.today.disabled:hover.disabled,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today.disabled:hover:hover,.datepicker table tr td.range.today.disabled:hover[disabled],.datepicker table tr td.range.today.disabled[disabled],.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today:hover.disabled,.datepicker table tr td.range.today:hover:active,.datepicker table tr td.range.today:hover:hover,.datepicker table tr td.range.today:hover[disabled],.datepicker table tr td.range.today[disabled]{background-color:#f3e97a}.datepicker table tr td.range.today.active,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover.active,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today:hover:active{background-color:#efe24b\9}.datepicker table tr td.selected,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected:hover{background-color:#9e9e9e;background-image:-moz-linear-gradient(to bottom,#b3b3b3,grey);background-image:-ms-linear-gradient(to bottom,#b3b3b3,grey);background-image:-webkit-gradient(linear,0 0,0 100%,from(#b3b3b3),to(grey));background-image:-webkit-linear-gradient(to bottom,#b3b3b3,grey);background-image:-o-linear-gradient(to bottom,#b3b3b3,grey);background-image:linear-gradient(to bottom,#b3b3b3,grey);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);border-color:grey grey #595959;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.selected.active,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled.disabled,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected.disabled:hover.active,.datepicker table tr td.selected.disabled:hover.disabled,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected.disabled:hover:hover,.datepicker table tr td.selected.disabled:hover[disabled],.datepicker table tr td.selected.disabled[disabled],.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected:hover.disabled,.datepicker table tr td.selected:hover:active,.datepicker table tr td.selected:hover:hover,.datepicker table tr td.selected:hover[disabled],.datepicker table tr td.selected[disabled]{background-color:grey}.datepicker table tr td.selected.active,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover.active,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected:hover:active{background-color:#666\9}.datepicker table tr td.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(to bottom,#08c,#04c);background-image:-ms-linear-gradient(to bottom,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(to bottom,#08c,#04c);background-image:-o-linear-gradient(to bottom,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.active.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled.disabled,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled:hover.disabled,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active.disabled:hover:hover,.datepicker table tr td.active.disabled:hover[disabled],.datepicker table tr td.active.disabled[disabled],.datepicker table tr td.active:active,.datepicker table tr td.active:hover,.datepicker table tr td.active:hover.active,.datepicker table tr td.active:hover.disabled,.datepicker table tr td.active:hover:active,.datepicker table tr td.active:hover:hover,.datepicker table tr td.active:hover[disabled],.datepicker table tr td.active[disabled]{background-color:#04c}.datepicker table tr td.active.active,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active:active,.datepicker table tr td.active:hover.active,.datepicker table tr td.active:hover:active{background-color:#039\9}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.datepicker table tr td span.focused,.datepicker table tr td span:hover{background:#eee}.datepicker table tr td span.disabled,.datepicker table tr td span.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td span.active,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled:hover,.datepicker table tr td span.active:hover{background-color:#006dcc;background-image:-moz-linear-gradient(to bottom,#08c,#04c);background-image:-ms-linear-gradient(to bottom,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(to bottom,#08c,#04c);background-image:-o-linear-gradient(to bottom,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td span.active.active,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled.disabled,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled:hover.disabled,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active.disabled:hover:hover,.datepicker table tr td span.active.disabled:hover[disabled],.datepicker table tr td span.active.disabled[disabled],.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active:hover.disabled,.datepicker table tr td span.active:hover:active,.datepicker table tr td span.active:hover:hover,.datepicker table tr td span.active:hover[disabled],.datepicker table tr td span.active[disabled]{background-color:#04c}.datepicker table tr td span.active.active,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active:hover:active{background-color:#039\9}.datepicker table tr td span.new,.datepicker table tr td span.old{color:#999}.datepicker .datepicker-switch{width:145px}.datepicker .datepicker-switch,.datepicker .next,.datepicker .prev,.datepicker tfoot tr th{cursor:pointer}.datepicker .datepicker-switch:hover,.datepicker .next:hover,.datepicker .prev:hover,.datepicker tfoot tr th:hover{background:#eee}.datepicker .next.disabled,.datepicker .prev.disabled{visibility:hidden}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.input-append.date .add-on,.input-prepend.date .add-on{cursor:pointer}.input-append.date .add-on i,.input-prepend.date .add-on i{margin-top:3px}.input-daterange input{text-align:center}.input-daterange input:first-child{-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}.input-daterange input:last-child{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}.input-daterange .add-on{display:inline-block;width:auto;min-width:16px;height:20px;padding:4px 5px;font-weight:400;line-height:20px;text-align:center;text-shadow:0 1px 0 #fff;vertical-align:middle;background-color:#eee;border:1px solid #ccc;margin-left:-5px;margin-right:-5px}.datepicker.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;color:#333;font-size:13px;line-height:20px}.datepicker.datepicker-inline td,.datepicker.datepicker-inline th,.datepicker.dropdown-menu td,.datepicker.dropdown-menu th{padding:4px 5px}