/* tost */
/* messages */
.bg-error {
  background:#dc3545;
  color: #fff;
}

.toast{
  position: absolute;
  top: 95vh;
  right:2px;
  z-index: 100;
}

#rodape{
  font-size: .7rem;
}

#page-wrapper{
  min-height: 85vh;
}